#quotation-data-form {
    gap: 60px;
}

#quotation-data-form-container {
    display: flex;
    flex-direction: column;
    gap: 60px;
}

.quotation-data-form-input-container {
    gap: 16px;
}

#quotation-input-label {
    color: #26323D;
    font-size: 20px;
    font-weight: bold;
    line-height: 30px;
}

.quotation-data-form-input.MuiInputBase-root {
    border-radius: 10px;
}

#quotation-data-form-summary {
    padding: 30px;
    display: flex;
    flex-direction: column;
    gap: 16px;
    background-color: #F6F6F6;
    border-radius: 10px;
}

.quotation-data-form-summary-item {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    color: #828282;
}

.quotation-data-form-summary-item.strong {
    color: #333333;
}

#quotation-data-form-submit {
    height: 62px;
    color: #FFFFFF;
    background-color: #3454D0;
    border-radius: 10px;
}