#data-form-container {
    width: 664px;
    padding: 40px;
    background-color: #FFF;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 30px;
    border-radius: 20px;
    box-shadow: 0 4px 30px rgba(0, 0, 0, 0.05);
}

#data-form {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    gap: 40px;
}

#data-form-content {
    width: 584px;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    gap: 20px;
}

.data-form-input-container {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    align-self: stretch;
    gap: 12px;
}

#input-label {
    color: #26323D;
    font-size: 18px;
    line-height: normal;
}

.data-form-input.MuiInputBase-root {
    border-radius: 10px;
}

.data-form-input .MuiInputBase-input {
    padding: 16px 20px;
    color: #26323D;
    font-size: 14px;
    line-height: normal;
}

#data-form-summary {
    padding: 30px;
    display: flex;
    background-color: #F6F6F6;
    flex-direction: column;
    align-items: flex-start;
    align-self: stretch;
    gap: 16px;
    border-radius: 10px;
}

.data-form-summary-item {
    color: #828282;
    font-size: 14px;
    line-height: normal;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    align-self: stretch;
}

.data-form-summary-item.strong {
    color: #333;
}

.data-form-summary-item-label {
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 16px;
}

.data-form-summary-item-label div.icon {
    width: 20px;
    height: 20px;
}

#data-form-submit {
    width: 584px;
    padding: 16px 10px;
    color: #FFF;
    font-size: 16px;
    font-weight: 500;
    line-height: normal;
    text-transform: none;
    background-color: #3454D0;
    border-radius: 10px;
}

#data-form-submit.Mui-disabled {
    background-color: #C1CAF1;
}

@media only screen and (max-width: 600px) {
    #data-form-container {
        width: 388px;
        padding: 20px;
    }

    #data-form,
    #data-form-content,
    #data-form-submit {
        align-self: stretch;
    }
    
    #data-form {
        gap: 30px;
    }

    #data-form-content {
        width: unset;
    }

    #input-label {
        font-size: 16px;
    }

    .data-form-input.MuiInputBase-root {
        height: 34px;
        border-radius: 6px;
    }

    .data-form-input .MuiInputBase-input {
        padding: 16px 20px 16px 10px;
        font-size: 14px;
        line-height: normal;
        flex: 1 0 0;
    }

    .data-form-summary-item-label {
        width: 160px;
    }

    #data-form-submit {
        width: unset;
        height: 46px;
    }
}