#data-form-container {
    width: 847px;
    padding: 60px 40px;
    display: flex;
    flex-direction: column;
    background-color: #FFFFFF;
    border-radius: 20px;
    box-shadow: 0 4px 30px rgba(0, 0, 0, 0.05);
}

#data-form {
    display: flex;
    flex-direction: column;
    gap: 120px;
}

#data-form-content {
    display: flex;
    flex-direction: column;
    gap: 60px;
}

.data-form-input-container {
    gap: 16px;
}

#input-label {
    color: #26323D;
    font-size: 20px;
    line-height: 30px;
}

.data-form-input.MuiInputBase-root {
    border-radius: 10px;
}

#data-form-summary {
    padding: 30px;
    display: flex;
    flex-direction: column;
    gap: 16px;
    background-color: #F6F6F6;
    border-radius: 10px;
}

.data-form-summary-item {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    color: #828282;
}

.data-form-summary-item.strong {
    color: #333333;
}

#data-form-submit {
    height: 62px;
    color: #FFFFFF;
    background-color: #3454D0;
    border-radius: 10px;
}

#data-form-submit.Mui-disabled {
    background-color: #C1CAF1;
}

@media only screen and (max-width: 850px) {
    #data-form-container {
        width: 95%;
    }

    .data-form-summary-item {
        flex-direction: column;
    }
}