#plans-container {
    padding: 40px;
    background-color: #FFF;
    border-radius: 20px;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 40px;
    box-shadow: 0 4px 30px rgba(0, 0, 0, 0.05);
}

#plans {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 30px;
}

#plans-heading-container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
    align-self: stretch;
    gap: 30px;
}

#plans-collection-heading {
    color: #4F4F4F;
    font-size: 18px;
    line-height: normal;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    gap: 10px;
}

#plans-collection {
    max-width: 846px;
    display: flex;
    flex-direction: row;
    align-items: flex-start;
    gap: 30px;
    flex-wrap: wrap;
}

.plan-card-container {
    width: 408px;
    height: 408px;
}

.plan-card {
    width: 408px;
    height: 408px;
    padding: 40px;
    border: 1px solid #BDBDBD;
    border-radius: 10px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 20px;
}

.plan-card:hover {
    box-shadow: 2px 2px 20px rgba(52, 84, 208, 0.25);
}

.plan-card.selected {
    border: 1.5px solid #2A45AB;
    box-shadow: 2px 2px 20px rgba(52, 84, 208, 0.25);
}

.plan-heading {
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 20px;
}

.plan-avatar {
    width: 94px;
    padding: 10px;
    background-color: #F6F8FC;
    color: #828282;
    font-size: 36px;
    line-height: normal;
    text-align: center;
    border-radius: 10px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    align-self: stretch;
    gap: 10px;
}

.plan-heading-info {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
    gap: 10px;
}

.plan-heading-title {
    color: #26323D;
    font-size: 18px;
    line-height: normal;
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 10px;
}

.plan-heading-info-items {
    color: #4F4F4F;
    font-size: 14px;
    line-height: normal;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    gap: 6px;
}

.plan-content {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    gap: 30px;
}

.plan-summary {
    padding-top: 10px;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    gap: 20px;
}

.plan-summary-title {
    font-size: 16px;
    line-height: normal;
}

.plan-expenses {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    gap: 20px;
}

.expenses-list {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    gap: 10px;
}

.plan-property {
    color: #4F4F4F;
    font-size: 14px;
    line-height: normal;
    display: flex;
    flex-direction: row;
    align-items: flex-start;
    gap: 20px;
}

.expenses-total-container {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    gap: 20px;
}

.expenses-total {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    gap: 10px;
}

.expenses-total > .plan-property {
    padding: 4px 20px;
    background-color: #F2F2F2;
    border-radius: 50px;
}

.plan-insurance {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    gap: 20px;
}

#plans-submit {
    padding: 16px 10px;
    background-color: #3454D0;
    color: #FFF;
    font-size: 16px;
    font-weight: 500;
    line-height: normal;
    text-transform: none;
    border-radius: 10px;
    align-self: stretch;
}

#plans-submit.Mui-disabled {
    background-color: #C1CAF1;
}

@media only screen and (max-width: 600px) {
    .plan-heading-item {
        display: flex;
        flex-direction: column;
    }

    .plan-property {
        flex-direction: column;
        gap: unset;
    }
}