#plans-container {
    padding: 40px;
    background-color: #FFF;
    border-radius: 20px;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 40px;
    box-shadow: 0 4px 30px rgba(0, 0, 0, 0.05);
}

#plans {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 30px;
}

#plans-heading-container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
    align-self: stretch;
    gap: 30px;
}

#plans-collection-heading {
    color: #4F4F4F;
    font-size: 18px;
    line-height: normal;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    gap: 10px;
}

#plans-collection {
    max-width: 846px;
    display: flex;
    flex-direction: row;
    align-items: flex-start;
    gap: 30px;
    flex-wrap: wrap;
}

.plan-card-container {
    /* width: 408px; */
    height: 408px;
}

.plan-card {
    width: 408px;
    height: 408px;
    padding: 40px;
    border: 1px solid #BDBDBD;
    border-radius: 10px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 20px;
}

.plan-card:hover {
    box-shadow: 2px 2px 20px rgba(52, 84, 208, 0.25);
}

.plan-card.selected {
    border: 1.5px solid #2A45AB;
    box-shadow: 2px 2px 20px rgba(52, 84, 208, 0.25);
}

.plan-heading {
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 20px;
}

.plan-avatar {
    width: 94px;
    padding: 10px;
    background-color: #F6F8FC;
    color: #828282;
    font-size: 36px;
    line-height: normal;
    text-align: center;
    border-radius: 10px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    align-self: stretch;
    gap: 10px;
}

.plan-heading-info {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
    gap: 10px;
}

.plan-heading-title {
    color: #26323D;
    font-size: 18px;
    line-height: normal;
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 10px;
}

.plan-heading-info-item-container {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    gap: 6px;
}

.plan-heading-info-item {
    color: #4F4F4F;
    font-size: 14px;
    line-height: normal;
    white-space: nowrap;
}

.plan-content {
    width: 365px;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    gap: 30px;
}

.plan-summary {
    padding-top: 10px;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    align-self: stretch;
    gap: 20px;
}

.plan-summary-title {
    color: #26323D;
    font-size: 16px;
    line-height: normal;
}

.plan-expenses {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    align-self: stretch;
    gap: 20px;
}

.expenses-list {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    gap: 10px;
}

.plan-property {
    color: #4F4F4F;
    font-size: 14px;
    line-height: normal;
    white-space: nowrap;
    display: flex;
    flex-direction: row;
    align-items: flex-start;
    gap: 5px;
}

.expenses-total-container {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    gap: 20px;
}

.expenses-total {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    gap: 10px;
}

.expenses-total > .plan-property {
    padding: 4px 20px;
    background-color: #F2F2F2;
    border-radius: 50px;
}

.plan-insurance {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    gap: 20px;
}

#plans-submit {
    padding: 16px 10px;
    background-color: #3454D0;
    color: #FFF;
    font-size: 16px;
    font-weight: 500;
    line-height: normal;
    text-transform: none;
    border-radius: 10px;
    align-self: stretch;
}

#plans-submit.Mui-disabled {
    background-color: #C1CAF1;
}

@media only screen and (max-width: 600px) {
    #app-container:has( #plans-container) {
        padding-bottom: 40px;
        gap: 25px;
    }

    #plans-container {
        width: 388px;
        padding: 20px 0;
        justify-content: center;
        align-items: flex-start;
        gap: 30px;
    }
    
    #plans {
        width: 100%;
    }

    #plans-collection-heading {
        padding: 0 20px;
        font-size: 14px;
    }
    
    .plan-card-container {
        width: 100%;
        height: unset;
    }

    .plan-card {
        width: 388px;
        height: unset;
        padding: 20px;
    }

    .plan-heading,
    .plan-heading-info-item-container,
    .plan-heading-info-item,
    .plan-content,
    .expenses-total,
    .expenses-total > .plan-property {
        align-self: stretch;
    }

    .plan-heading {
        justify-content: center;
    }

    .plan-avatar {
        width: 94px;
        height: 94px;
    }

    .plan-heading-info {
        flex: 1 0 0;
    }

    .plan-heading-info-item {
        display: flex;
        flex-direction: column;
    }

    .plan-heading-title {
        font-size: 16px;
    }

    .plan-content {
        width: unset;
    }

    .plan-summary {
        padding-top: unset;
    }

    #plans-submit {
        display: none;
    }
}