.disabled {
    opacity: 0.6;
    pointer-events: none;
}

.strong {
    font-weight: 600;
}

.light {
    font-weight: 300;
}

#page-container {
    width: 100vw;
    height: 100vh;
    overflow: auto;
}

#app-container {
    width: 100%;
    padding: 0 0 120px;
    background-color: #F2F2F2;
    display: inline-flex;
    flex-direction: column;
    align-items: center;
    gap: 60px;
}

#navbar {
    width: 100%;
    padding: 0 120px;
    background-color: #FFF;
    border-bottom: 1px solid #E0E0E0;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
}

#navbar-logo {
    width: 82px;
    height: 83px;
    flex-shrink: 0;
}

#navbar-links {
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 40px;
    cursor: pointer;
}

.navbar-link {
    color: #26323D;
    font-size: 16px;
    line-height: normal;
    text-decoration: none;
}

@media only screen and (max-width: 600px) {
    #navbar {
        padding: 0 20px;
    }
}