#app-container {
    width: 100%;
    padding: 0 0 120px;
    background-color: #F2F2F2;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 80px;
}

.strong {
    font-weight: 600;
}

.light {
    font-weight: 300;
}