#files-form-container {
    margin: 0 120px;
    padding: 60px 40px;
    background: #FFFFFF;
    display: flex;
    flex-direction: column;
    align-items: center;
    align-self: stretch;
    gap: 80px;
    border-radius: 20px;
    box-shadow: 0 4px 30px 0 rgba(0, 0, 0, 0.05);
}

#files-form, .requirements-container {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    align-self: stretch;
}

#files-form {
    gap: 80px;
}

.requirements-container {
    gap: 40px;
}

#files-plan {
    width: 100%;
    padding: 30px;
    background-color: #FFFFFF;
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 140px;
    border-radius: 10px;
    border: 1px solid #BDBDBD;
}

#files-plan-avatar {
    width: 94px;
    padding: 10px;
    color: #828282;
    font-size: 36px;
    background-color: #F6F8FC;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    align-self: stretch;
    gap: 10px;
    border-radius: 10px;
}

#files-plan-applicant {
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 20px;
}

#files-plan-applicant-info {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
    gap: 6px;
}

.plan-data {
    color: #26323D;
    font-size: 20px;
}

.plan-value {
    color: #4F4F4F;
    font-size: 16px;
}

#files-plan-expenses {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: flex-start;
    align-self: stretch;
}

#files-plan-status {
    padding: 6px 20px;
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 10px;
    border-radius: 10px;
}

#files-plan-status.pending {
    background-color: #FFFBEA;
    color: #EDC13A;
}

#files-plan-status.approved {
    background-color: #D3EFDF;
    color: #27AE60;
}

#files-plan-status.denied {
    background-color: #FFE6E6;
    color: #EB5757;
}

.requirements-title {
    color: #26323D;
    font-size: 32px;
}

.file-input-container {
    width: 100%;
    height: 62px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: flex-start;
}

.file-input {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    align-self: stretch;
}

.file-input-label-container {
    width: 406px;
    display: flex;
    align-items: center;
    gap: 10px;
}

.file-input-label {
    color: #26323D;
    font-size: 20px;
    display: flex;
    flex-direction: column;
    flex: 1 0 0;
}

.file-input-action-container {
    display: flex;
    align-items: center;
    gap: 20px;
}

.file-input-action {
    padding: 16px 20px;
    color: #26323D !important;
    font-size: 20px;
    text-decoration: none !important;
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 20px;
    border-radius: 10px;
    border: 1px solid #BDBDBD;
}

.file-input-action input {
    display: none;
}

.file-remove-action {
    display: flex;
    flex-direction: row;
    align-items: center;
}

.status-indicator {
    width: 20px;
    height: 20px;
}

.unknown {
    padding: 10px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 10px;
    border-radius: 50px;
    border: 1px solid #BDBDBD;
}

.pending {
    color: #F2C94C;
}

.approved {
    color: #27AE60;
}

.denied {
    color: #EB5757;
}

.error {
    color: #EB5757;
}

#files-submit {
    width: 100%;
    height: 62px;
    color: #FFFFFF;
    background-color: #3454D0;
    border-radius: 10px;
}

#files-submit.Mui-disabled {
    background-color: #C1CAF1;
}