#files-form-container {
    padding: 40px;
    background: #FFF;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
    gap: 40px;
    border-radius: 20px;
    box-shadow: 0 4px 30px 0 rgba(0, 0, 0, 0.05);
}

#files-form-heading-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    align-self: stretch;
    gap: 30px;
}

#files-plan {
    /* width: 100%; */
    padding: 20px;
    background-color: #FFF;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    align-self: stretch;
    border-radius: 10px;
    border: 1px solid #BDBDBD;
}

#files-plan-info {
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 20px;
}

#files-plan-avatar {
    width: 94px;
    padding: 10px;
    color: #828282;
    font-size: 36px;
    background-color: #F6F8FC;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    align-self: stretch;
    gap: 10px;
    border-radius: 10px;
}

#files-plan-info-data {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
    gap: 6px;
}

.plan-data {
    color: #000;
    font-size: 18px;
}

#files-plan-status {
    padding: 6px 20px;
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 10px;
    border-radius: 10px;
}

.status-indicator {
    width: 20px;
    height: 20px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.unknown {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 10px;
    border-radius: 50px;
    border: 1px solid #BDBDBD;
}

.pending {
    color: #F2C94C;
}

.accepted {
    color: #27AE60;
}

.denied {
    color: #EB5757;
}

.error {
    color: #EB5757;
}

#files-plan-status.pending {
    background-color: #FFFBEA;
}

#files-plan-status.accepted {
    background-color: #D3EFDF;
}

#files-plan-status.denied {
    background-color: #FFE6E6;
}

.requirements-container {
    /* width: 900px; */
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    gap: 30px;
}

.requirements-title {
    color: #26323D;
    font-size: 24px;
}

.requirements-list {
    width: 900px;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    gap: 20px;
}

.file-input-container {
    width: 900px;
    height: 62px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: flex-start;
}

.file-input {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    align-self: stretch;
}

.file-input-label-container {
    width: 406px;
    display: flex;
    align-items: center;
    gap: 10px;
}

.file-input-label {
    color: #26323D;
    font-size: 18px;
    line-height: normal;
    flex: 1 0 0;
}

.file-input-action-container {
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 20px;
}

.file-input-action {
    max-width: 200px;
    padding: 12px 16px;
    color: #26323D;
    font-size: 14px;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    gap: 10px;
    border-radius: 10px;
    border: 1px solid #BDBDBD;
}

.file-input-action-label {
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 10px;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
}

.file-input-action-label > p {
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
}

a.file-input-action, label.file-input-action {
    cursor: pointer;
}

.file-input-action.loading {
    background-color: #F2F2F2;
    color: #91A6BA;
    border: 1px solid #BDBDBD;
    cursor: default;
}

.file-input-action.send-file {
    color: #FFF;
    background-color: #3454D0;
    border: 0;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
}

.file-input-action > p {
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
}

.file-input-action > input {
    display: none;
}

.file-remove-action {
    /* width: 350px; */
    padding: 10px;
    text-align: center;
    font-size: 14px;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 10px;
}

.file-remove-action .file-input-action {
    min-width: 70px;
    padding: 10px 12px;
    font-size: 14px;
    justify-content: center;
}

#footer {
    color: #828282;
    text-align: center;
    font-size: 16px;
    line-height: normal;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 30px;
}

#footer-contact {
    font-size: 18px;
    line-height: normal;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 10px;
}

#footer-whatsapp-button {
    width: 247px;
    padding: 16px 10px;
    background-color: #26323D;
    color: #FFF;
    font-size: 16px;
    font-weight: 500;
    text-decoration: none;
    line-height: normal;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 10px;
    border-radius: 10px;
}

@media only screen and (max-width: 600px) {
    #app-container:has( #files-form-container) {
        padding-bottom: 40px;
        gap: 25px;
    }

    #files-form-container {
        width: 388px;
        padding: 20px;
        justify-content: unset;
        align-items: center;
        gap: 30px;
    }

    #files-plan {
        flex-direction: column;
        justify-content: center;
        align-items: flex-start;
        gap: 10px;
    }

    #files-plan-status,
    .requirements-container,
    .requirements-list,
    .file-input-container,
    .file-input,
    .file-input-label-container,
    .file-input-action-container,
    .file-input-action,
    #footer {
        align-self: stretch;
    }

    #files-plan-avatar {
        width: 74px;
        height: 74px;
        padding: 10px;
        align-self: unset;
    }

    #files-plan-info-data {
        gap: 4px;
    }

    #files-plan-status {
        justify-content: space-between;
        align-self: stretch;
        gap: unset;
    }

    .requirements-list {
        width: unset;
        gap: 30px;
    }

    .file-input-container {
        width: unset;
        height: unset;
        display: unset;
    }

    .file-input {
        flex-direction: column;
        justify-content: unset;
        align-items: flex-start;
        gap: 12px;
    }

    .file-input-label-container {
        width: unset;
    }

    .file-input-label {
        font-size: 16px;
    }

    .file-input-action-container {
        flex-direction: column;
        justify-content: center;
        align-items: flex-start;
        gap: 16px;
    }

    .file-input-action {
        max-width: unset;
        height: 45px;
        justify-content: space-between;
        gap: unset;
    }

    #footer {
        padding: 0 20px;
        font-size: 14px;
    }

    #footer-contact {
        font-size: 14px;
    }

    #footer-whatsapp-button {
        height: 46px;
    }
}