#files-form-container {
    display: flex;
    flex-direction: column;
    gap: 60px;
}

#files-form {
    display: flex;
    flex-direction: column;
    gap: 60px;
}

.file-input-container {
    display: flex;
    flex-direction: row;
    align-items: flex-start;
}

.file-input-label {
    display: flex;
    flex-direction: column;
}

/* .file-input {

} */

.file-input-preview {
    width: auto;
    height: 100px;
}